Flask==3.0.0
Pillow==10.2.0
rembg==2.0.57
numpy==1.26.4
opencv-python-headless==4.9.0.80
requests==2.31.0
python-dotenv==1.0.1
gunicorn==21.2.0
psycopg2-binary==2.9.9
SQLAlchemy==2.0.25
Flask-SQLAlchemy==3.1.1
cloudinary==1.40.0
super-image==0.1.7
Werkzeug==3.0.1